@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #171717;
  --family: 'Aldrich';
  --urls: #1DA1F2;
  --urls-hover: #0d8dd6;
  --border: #8899;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: #fff;
  background: var(--background);
  font-family: var(--family);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p{
  font-size: 12px;
}